{'url': 'https://www.python.org/', 'text': ['<a href="https://www.python.org/">Welcome to <b>Python</b>.org</a>']}
{'url': 'https://www.python.jp/', 'text': ['<a href="https://www.python.jp/">プログラミング言語 <b>Python</b></a>']}
{'url': 'https://ja.wikipedia.org/wiki/Python', 'text': ['<a href="https://ja.wikipedia.org/wiki/Python"><b>Python</b> - ウィキペディア</a>']}
{'url': 'https://www.sejuku.net/blog/7720', 'text': ['<a href="https://www.sejuku.net/blog/7720">専門知識いらず！<b>Python</b>とは？言語の特徴から網羅的に徹底解説 | 侍 ...</a>']}
{'url': 'https://qiita.com/tags/python', 'text': ['<a href="https://qiita.com/tags/python"><b>Python</b> - Qiita</a>']}
{'url': 'https://employment.en-japan.com/engineerhub/entry/2018/11/09/110000', 'text': ['<a href="https://employment.en-japan.com/engineerhub/entry/2018/11/09/110000">機械学習入門 - 基本の<b>Python</b>ライブラリ、9つを触って学ぶ - エンジニア ...</a>']}
{'url': 'https://prog-8.com/languages/python', 'text': ['<a href="https://prog-8.com/languages/python"><b>Python</b> | プログラミングの入門なら基礎から学べるProgate[プロゲート]</a>']}
{'url': 'https://aidemy.net/courses/3010', 'text': ['<a href="https://aidemy.net/courses/3010"><b>Python</b>入門 | 10秒で始めるAIプログラミング学習サービスAidemy ...</a>']}
{'url': 'https://www.javadrive.jp/python/', 'text': ['<a href="https://www.javadrive.jp/python/"><b>Python</b>入門 ～<b>Python</b>のインストール方法や<b>Python</b>を使った ...</a>']}
